# Roblox model and place files in the root, used for debugging
/*.rbxm
/*.rbxmx
/*.rbxl
/*.rbxlx

# Sourcemap for the Rojo plugin (for better intellisense)
/sourcemap.json
/roblox.yml

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock